<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your new password</title>
  <link type="text/css" rel="stylesheet" th:href="@{/css/pw_reset.css}"/>
</head>
<body>
<div>
  <h2>Reset Your Password</h2>
</div>
<form th:action="@{/password_reset/new_password}" method="post" >
  <input type="hidden" name="token" th:value="${token}" />
  <div class="border border-secondary rounded p-3">
    <div>
      <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="form-control" required autofocus />
      </div>
      <div>
        <label for="passwordConfirm">Confirm password</label>
        <input type="password" id="passwordConfirm" class="form-control"
               required oninput="checkPasswordMatch(this);" />
    </div>
      <p class="text-center">
        <input type="submit" value="Change Password" class="btn btn-primary" />
      </p>
    </div>
  </div>
</form>
<script src="/js/jquery-3.7.0.js"></script>
<script th:inline="javascript">
  function checkPasswordMatch(fieldConfirmPassword) {
    var password = $("#password").val().trim();
    var passwordConfirm = $("#passwordConfirm").val().trim();
    if (passwordConfirm !== password) {
      fieldConfirmPassword.setCustomValidity("Passwords do not match!");
      fieldConfirmPassword.preventDefault();
    } else if(passwordConfirm.length < 8 || passwordConfirm.length > 25){
      fieldConfirmPassword.setCustomValidity("Password should be between 8 to 25 characters");
      fieldConfirmPassword.preventDefault();
    }
    else {
      fieldConfirmPassword.setCustomValidity("");
    }
    fieldConfirmPassword.reportValidity();
  }
</script>

</body>
</html>